
:root {
  --primary-color: rgb(255, 138, 29);
  --secondary-color: rgba(234, 133, 0, 1);
  --light-color: rgba(255, 222, 189, 1);
  --light-orange: rgb(255, 168, 82);
  --bright-red: rgba(255, 16, 16, 1);
  --dark-color: rgba(176, 47, 0, 1);
  --darker-color: #720d00;
  --off-white: rgb(255, 249, 242);
}
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
